body {
  background-image: linear-gradient(
      161deg,
      rgba(121, 121, 121, 0.02) 0%,
      rgba(121, 121, 121, 0.02) 16.667%,
      rgba(193, 193, 193, 0.02) 16.667%,
      rgba(193, 193, 193, 0.02) 33.334%,
      rgba(177, 177, 177, 0.02) 33.334%,
      rgba(177, 177, 177, 0.02) 50.001000000000005%,
      rgba(5, 5, 5, 0.02) 50.001%,
      rgba(5, 5, 5, 0.02) 66.668%,
      rgba(229, 229, 229, 0.02) 66.668%,
      rgba(229, 229, 229, 0.02) 83.33500000000001%,
      rgba(211, 211, 211, 0.02) 83.335%,
      rgba(211, 211, 211, 0.02) 100.002%
    ),
    linear-gradient(
      45deg,
      rgba(223, 223, 223, 0.02) 0%,
      rgba(223, 223, 223, 0.02) 14.286%,
      rgba(70, 70, 70, 0.02) 14.286%,
      rgba(70, 70, 70, 0.02) 28.572%,
      rgba(109, 109, 109, 0.02) 28.572%,
      rgba(109, 109, 109, 0.02) 42.858%,
      rgba(19, 19, 19, 0.02) 42.858%,
      rgba(19, 19, 19, 0.02) 57.144%,
      rgba(180, 180, 180, 0.02) 57.144%,
      rgba(180, 180, 180, 0.02) 71.42999999999999%,
      rgba(63, 63, 63, 0.02) 71.43%,
      rgba(63, 63, 63, 0.02) 85.71600000000001%,
      rgba(87, 87, 87, 0.02) 85.716%,
      rgba(87, 87, 87, 0.02) 100.002%
    ),
    linear-gradient(
      337deg,
      rgba(142, 142, 142, 0.02) 0%,
      rgba(142, 142, 142, 0.02) 20%,
      rgba(164, 164, 164, 0.02) 20%,
      rgba(164, 164, 164, 0.02) 40%,
      rgba(203, 203, 203, 0.02) 40%,
      rgba(203, 203, 203, 0.02) 60%,
      rgba(228, 228, 228, 0.02) 60%,
      rgba(228, 228, 228, 0.02) 80%,
      rgba(54, 54, 54, 0.02) 80%,
      rgba(54, 54, 54, 0.02) 100%
    ),
    linear-gradient(
      314deg,
      rgba(187, 187, 187, 0.02) 0%,
      rgba(187, 187, 187, 0.02) 12.5%,
      rgba(170, 170, 170, 0.02) 12.5%,
      rgba(170, 170, 170, 0.02) 25%,
      rgba(214, 214, 214, 0.02) 25%,
      rgba(214, 214, 214, 0.02) 37.5%,
      rgba(187, 187, 187, 0.02) 37.5%,
      rgba(187, 187, 187, 0.02) 50%,
      rgba(190, 190, 190, 0.02) 50%,
      rgba(190, 190, 190, 0.02) 62.5%,
      rgba(6, 6, 6, 0.02) 62.5%,
      rgba(6, 6, 6, 0.02) 75%,
      rgba(206, 206, 206, 0.02) 75%,
      rgba(206, 206, 206, 0.02) 87.5%,
      rgba(171, 171, 171, 0.02) 87.5%,
      rgba(171, 171, 171, 0.02) 100%
    ),
    linear-gradient(
      300deg,
      rgba(243, 243, 243, 0.01) 0%,
      rgba(243, 243, 243, 0.01) 12.5%,
      rgba(209, 209, 209, 0.01) 12.5%,
      rgba(209, 209, 209, 0.01) 25%,
      rgba(179, 179, 179, 0.01) 25%,
      rgba(179, 179, 179, 0.01) 37.5%,
      rgba(3, 3, 3, 0.01) 37.5%,
      rgba(3, 3, 3, 0.01) 50%,
      rgba(211, 211, 211, 0.01) 50%,
      rgba(211, 211, 211, 0.01) 62.5%,
      rgba(151, 151, 151, 0.01) 62.5%,
      rgba(151, 151, 151, 0.01) 75%,
      rgba(16, 16, 16, 0.01) 75%,
      rgba(16, 16, 16, 0.01) 87.5%,
      rgba(92, 49, 49, 0.51) 87.5%,
      rgba(92, 49, 49, 0.51) 100%
    ),
    linear-gradient(
      6deg,
      rgba(221, 209, 191, 0.17) 0%,
      rgba(221, 209, 191, 0.17) 20%,
      rgba(193, 193, 193, 0.02) 20%,
      rgba(193, 193, 193, 0.02) 40%,
      rgba(112, 110, 72, 0.1) 40%,
      rgba(112, 110, 72, 0.1) 60%,
      rgba(105, 158, 94, 0.14) 60%,
      rgba(105, 158, 94, 0.14) 80%,
      rgba(35, 87, 127, 0.29) 80%,
      rgba(35, 87, 127, 0.29) 100%
    ),
    linear-gradient(
      279deg,
      rgba(190, 190, 190, 0.02) 0%,
      rgba(190, 190, 190, 0.02) 14.286%,
      rgba(63, 29, 118, 0.11) 14.286%,
      rgba(63, 29, 118, 0.11) 28.572%,
      rgba(118, 75, 221, 0) 28.572%,
      rgba(118, 75, 221, 0) 42.858%,
      rgba(60, 60, 60, 0.02) 42.858%,
      rgba(60, 60, 60, 0.02) 57.144%,
      rgba(88, 36, 36, 0.02) 57.144%,
      rgba(88, 36, 36, 0.02) 71.42999999999999%,
      rgba(4, 4, 4, 0.02) 71.43%,
      rgba(4, 4, 4, 0.02) 85.71600000000001%,
      rgba(50, 50, 50, 0.02) 85.716%,
      rgba(50, 50, 50, 0.02) 100.002%
    ),
    linear-gradient(
      109deg,
      rgba(90, 30, 30, 0.37) 0%,
      rgba(90, 30, 30, 0.37) 12.5%,
      rgba(69, 21, 21, 0.34) 12.5%,
      rgba(69, 21, 21, 0.34) 25%,
      rgba(187, 187, 187, 0.03) 25%,
      rgba(187, 187, 187, 0.03) 37.5%,
      rgba(207, 207, 207, 0.03) 37.5%,
      rgba(207, 207, 207, 0.03) 50%,
      rgba(53, 111, 123, 0.09) 50%,
      rgba(53, 111, 123, 0.09) 62.5%,
      rgba(118, 118, 118, 0.03) 62.5%,
      rgba(118, 118, 118, 0.03) 75%,
      rgba(83, 26, 26, 0) 75%,
      rgba(83, 26, 26, 0) 87.5%,
      rgba(151, 74, 74, 0.02) 87.5%,
      rgba(151, 74, 74, 0.02) 100%
    ),
    linear-gradient(
      329deg,
      rgba(35, 35, 35, 0.02) 0%,
      rgba(35, 35, 35, 0.02) 20%,
      rgba(246, 246, 246, 0.02) 20%,
      rgba(246, 246, 246, 0.02) 40%,
      rgba(118, 118, 118, 0.02) 40%,
      rgba(118, 118, 118, 0.02) 60%,
      rgba(245, 245, 245, 0.02) 60%,
      rgba(245, 245, 245, 0.02) 80%,
      rgba(140, 140, 140, 0.02) 80%,
      rgba(140, 140, 140, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(55, 55, 55), rgb(55, 55, 55));
}

table td{
    background-color: transparent !important;
    color: white !important;
}

table th{
    background-color: transparent !important;
    color: #C0C0C0 !important;

}

button{
    outline: none !important;
    background-color: transparent;
    border: 0;
}

button.view{
    color: #C0C0C0;
}

button.view :hover{
    color: black;
}

button.edit{
    color:#C0C0C0
}

button.edit :hover{
    color: rgba(31, 163, 130, 0.986);
}

button.delete{
    color: #C0C0C0;
}

button.delete :hover{
    color: rgb(199, 85, 85);
}

input{
    background-color: transparent !important;
    color: white !important;
    /* outline: none !important; */
}

.modal-title{
  width: 100%;
  text-align: center;
}

/* Custom modal background color */
#customModal{
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
}
